{% extends 'base-section.html' %}
{% load static %}
{% block content %}
{% include 'components/navbar-search.html' %}

<div class="uploads-wrapper">
  <div class="uploads-card-container">
    {% if arts %}
      {% for art in arts %}
        <div class="uploads-card-uploads">
          <a href="{% url 'upload_view' art.art_id %}" class="uploads-card-link">
            <img src="{{ art.image_url }}" alt="{{ art.title }}">
            <div class="uploads-card-overlay">
              <div class="uploads-card-text">
                <h1>{{ art.title }}</h1>
                <p>{{ art.category }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <div class="uploads-empty-state">
        <p>No uploads yet.</p>
        {% if user.is_authenticated %}
          <a href="{% url 'create' %}" class="upload-link">Upload something</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}
