{% load static %}
<div class="category-container">
    <h1 class="section-title">Categories</h1>
        <div class="category-grid" id="categoryGrid">
            <div class="category-box" data-bg="https://cdnb.artstation.com/p/assets/images/images/000/533/825/large/paul-pepera-d2-baker-render.jpg?1443929457"><h2>3D Art</h2></div>
            <div class="category-box" data-bg="https://img.freepik.com/free-photo/global-warming-illustration_23-2151878580.jpg?semt=ais_hybrid&w=740&q=80"><h2>2D Art</h2></div>
            <div class="category-box" data-bg="https://i.redd.it/dark-fantasy-pixel-art-v0-1gj9xlgbw19c1.png?width=1456&format=png&auto=webp&s=24d8bab32d9f8c2b259d910b987da9b70b1bfead"><h2>Pixel Art</h2></div>
            <div class="category-box" data-bg="https://www.clipstudio.net/view/lp_c/img/conceptart/app-software_02.webp"><h2>Concept Art</h2></div>
            <div class="category-box" data-bg="https://blush-design.imgix.net/collections/i6aPXTYbSUdZEveWhgik/a22d18a9-6c9d-4a9e-98a8-9c77ff34a309.png?w=800&h=450&fit=crop&auto=compress&cs=srgb"><h2>Illustrations</h2></div>

            <div class="category-box hidden" data-bg="https://www.artsindia.com/cdn/shop/articles/Sculpture_Art.jpg?v=1678807002"><h2>Sculptures</h2></div>
            <div class="category-box hidden" data-bg="https://i.pinimg.com/originals/c0/60/d3/c060d347cd69f52b4f4ff3176226a1d2.gif"><h2>Motion Graphics</h2></div>
            <div class="category-box hidden" data-bg="https://public-files.gumroad.com/13xmzw3ykx8r867z54e67vf7patq"><h2>Animation</h2></div>
            <div class="category-box hidden" data-bg="https://static.vecteezy.com/system/resources/thumbnails/049/671/154/small_2x/lion-amazing-background-hd-wallpaper-photo.jpeg"><h2>Photography</h2></div>
            <div class="category-box hidden" data-bg="https://mir-s3-cdn-cf.behance.net/project_modules/1400/f7eecc50791279.58d9c11a4918e.jpg"><h2>Game Assets</h2></div>
        </div>
        <button class="see-more-btn" id="seeMoreBtn">See More</button>
    </div>
</div>