{% load static %}
<div class="insight-container" id="insight">
    <div class="insight-container-1">
        <div class="text-container-2">
            <h1>Create Without Limits.</h1>
            <p>Bring your imagination to life in a digital world. Share your creations, connect with fellow digital artists, and turn pixels into possibilities.</p>
        </div>
        <div class="image-container-1">
            <img src="https://images.squarespace-cdn.com/content/v1/5d4b249616f93e000149aebd/1bef992a-855e-453b-8fb2-dc9405159c85/CCBreakdownPNG_1920x1080_02.png" alt="Image1">
        </div>
    </div>
    <div class="insight-container-2">
        <div class="image-container-2">
            <img src="https://cdn2.unrealengine.com/Unreal+Engine%2Fspotlights%2Foctopath-traveler-s-hd-2d-art-style-and-story-make-for-a-jrpg-dream-come-true%2FFEATURE_UESpotlight_OctopathTraveler-1920x960-e4bc4ed015e47b2a3fd01915a1f15f8b9fee7113.jpg" alt="Image2">
        </div>
        <div class="text-container-2">
            <h1>Lines That Speak.</h1>
            <p>Express your vision on paper or screen. Showcase your 2D masterpieces, inspire others, and see how simple strokes can create endless stories.</p>
        </div>
    </div>
    <div class="insight-container-3">
        <div class="text-container-2">
            <h1>Sculpt Worlds in 3D.</h1>
            <p>From models to motion, bring your ideas into three dimensions. Connect with creators, share your 3D artistry, and shape experiences others can explore.</p>
        </div>
        <div class="image-container-3">
            <img src="https://maxonassets.imgix.net/images/News/20250502_David-Sujono_01.jpg?fm=webp&auto=format,compress&w=1920&h=1080&ar=16:9&fit=clip&crop=faces&q=80" alt="Image3">
        </div>
    </div>
</div>