{% load static %}
<div class="interesting-container">
    <h1 class="section-title">Explore the Best Arts Liked by Others</h1>
    <div class="interesting-boxes">
        <div class="interesting-box" style="background-image: url('https://img.freepik.com/premium-vector/instagram-likes-3d-abstract-background_87538-645.jpg');">
            <h1>Most Liked Art</h1>
        </div>
        <div class="interesting-box" style="background-image: url('https://wallpapercrafter.com/sizes/1920x1080/76709-artist-artwork-digital-art-hd-deviantart.jpg');">
                <h1>Most Viewed Art</h1>
        </div>
        <div class="interesting-box" style="background-image: url('https://i.ytimg.com/vi/NdsCO4dqz3M/maxresdefault.jpg');">
            <h1>Most Commented Art</h1>
        </div>
    </div>
</div>